

body
{
color: #000000; 
font-family: Verdana,Geneva,Kalimati,sans-serif; 
font-size: 12pt; 
font-style: normal; 
}

td
{
color: #000000; 
font-family: Verdana,Geneva,Kalimati,sans-serif; 
font-size: 12pt; 
font-style: normal; 
}

td.tucne
{
color: #000000; 
font-family: Verdana,Geneva,Kalimati,sans-serif; 
font-size: 12pt; 
font-style: normal; 
font-weight:bold;
}